<footer class="w-100 bg-dark py-3 mt-5">
  <div class="container bg-dark text-white list-style">
    <div class="" style="margin-bottom: 30px">
      <div class="w-15">
        <img src="https://www.suzukicdn.com/themes/default2019/img/suzuki-footer.webp" width="100px"
          alt="Logo Suzuki White" title="Logo Suzuki White" />
      </div>
    </div>
    <div class="row row-cols-lg-5 row-cols-md-2">
      <div class="">
        <h3>Produk &amp; Layanan</h3>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/automobile">Mobil Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/motorcycle">Motor Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/marine">Marine Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/pricelist">Daftar Harga
              Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/dealers">Temukan Dealer
              Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/services">Servis Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/eparts">Suku Cadang Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white"
              href="https://dms.suzuki.co.id/simdms/assets/custom/productQualityUpdate.cshtml">Suzuki Quality
              Update</a>
          </li>
        </ul>
      </div>

      <div class="">
        <h3>Pojok Suzuki</h3>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/club/car">Car Club</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/promo">Promo</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/news">Press Release</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/tips-trik">Tips and Trick</a>
          </li>

        </ul>
      </div>

      <div class="">
        <h3>Lainnya</h3>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/contact">Hubungi Kami</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.sfi.co.id/">Suzuki Finance Indonesia</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/autovalue">Suzuki Autovalue</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/suzuki-insurance">Suzuki
              Insurance</a>
          </li>
        </ul>
      </div>

      <div class="">
        <h3>Suzuki Corporate</h3>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/corporate/tentang-suzuki">Tentang
              Suzuki</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/corporate/sejarah">Sejarah</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/kunjungan-pabrik">Kunjungan
              Pabrik</a>
          </li>
          <li>
            <a class="text-decoration-none text-white"
              href="https://www.suzuki.co.id/corporate/penghargaan">Penghargaan</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/corporate/karir">Karir</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.globalsuzuki.com/">Suzuki Global</a>
          </li>
          <li>
            <a class="text-decoration-none text-white" href="https://www.suzuki.co.id/corporate/csr">CSR</a>
          </li>
        </ul>
      </div>

      <div class="">
        <h3>Hubungi Kami</h3>
        <p class="fs-20">
          Halo Suzuki<br /><strong><a class="text-decoration-none text-white"
              href="tel:0800-1100-800">0800-1100-800</a></strong>
        </p>
        <p class="fs-12 text-muted">
          Bebas Pulsa, 24 Jam Siaga Melayani Anda
        </p>

        <div>
          <h3>Newsletter</h3>
          <p class="text-muted">
            Be the first one to know about discounts, offers and events.
            Unsubscribe whenever you like.
          </p>
          <div class="formContainer">
            <p id="validation_newsletter"></p>
            <form>
              <fieldset class="fieldInput">
                <input class="form-input" id="email_newsletter" type="email" placeholder="Your e-mail here" />
                <button type="button" id="submit_form_newsletter" onclick="submit_newsletter()" class="form-submit">
                  Submit
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="footer-nav row pt-30">
      <div class="col-12 col-lg-3">
        <div>
          <h3>Download My Suzuki</h3>
          <a class=" text-white" href="https://play.google.com/store/apps/details?id=com.sim.mysuzuki" target="_blank">
            <img alt="My Suzuki" title="My Suzuki"
              src="https://www.suzukicdn.com/themes/default2019/img/mysuzuki_new.webp" />
          </a>
          <a class=" text-white" href="https://www.suzuki.co.id/ecstar" target="_blank">
            <img src="https://www.suzukicdn.com/themes/default2019/img/ecstar3.webp" alt="Ecstar" title="Ecstar" />
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-9">
        <div class="row" style="justify-content: end">
          <div class="col-12 col-lg-4">
            <h3 class="fw-bold">SUZUKI MOBIL</h3>
            <div class="fs-24" style="display: flex; gap: 10px; align-items: center">
              <div class="wrapper__icon p-010">
                <a class="text-decoration-none text-white" href="https://id-id.facebook.com/suzukiindonesia"
                  target="_blank" class="">
                  <i class="bi bi-facebook"></i>
                </a>
              </div>

              <div class="wrapper__icon p-07">
                <a class="text-decoration-none text-white" href="https://twitter.com/suzukiindonesia" target="_blank"
                  class="" style="padding-top: 8px">
                  <i class="bi bi-twitter-x"></i>
                </a>
              </div>

              <div class="wrapper__icon p-09">
                <a class="text-decoration-none text-white" href="https://www.instagram.com/suzuki_id" target="_blank"
                  class="">
                  <i class="bi bi-instagram"></i>
                </a>
              </div>

              <div class="wrapper__icon p-07">
                <a class="text-decoration-none text-white" href="https://www.youtube.com/user/SuzukiID" target="_blank"
                  class="">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>

              <div class="wrapper__icon p-09">
                <a class="text-decoration-none text-white" href="https://www.tiktok.com/@suzuki_id" target="_blank"
                  class="">
                  <i class="bi bi-tiktok"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-4">
            <h3 class="fw-bold">SUZUKI MOTOR</h3>
            <div class="fs-24" style="display: flex; gap: 10px; align-items: center">
              <div class="wrapper__icon p-010">
                <a class="text-decoration-none text-white" href="https://id-id.facebook.com/SuzukiMotorcyclesID"
                  target="_blank" class="">
                  <i class="bi bi-facebook"></i>
                </a>
              </div>

              <div class="wrapper__icon p-07">
                <a class="text-decoration-none text-white" href="https://twitter.com/suzukimotorid" target="_blank"
                  class="" style="padding-top: 8px">
                  <i class="bi bi-twitter-x"></i>
              </div>

              <div class="wrapper__icon p-07">
                <a class="text-decoration-none text-white" href="https://www.instagram.com/suzukiindonesiamotor"
                  target="_blank" class="">
                  <i class="bi bi-instagram"></i>
                </a>
              </div>

              <div class="wrapper__icon p-07">
                <a class="text-decoration-none text-white" href="https://www.youtube.com/suzukimotorcyclesindonesia"
                  target="_blank" class="">
                  <i class="bi bi-youtube"></i>
                </a>
              </div>

              <div class="wrapper__icon p-09">
                <a class="text-decoration-none text-white" href="https://www.tiktok.com/@suzukiindonesiamotor"
                  target="_blank" class="">
                  <i class="bi bi-tiktok"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-3">
            <h3 class="fw-bold">SUZUKI MARINE</h3>
            <div class="fs-24" style="display: flex; gap: 10px; align-items: center">
              <div class="wrapper__icon p-010">
                <a class="text-decoration-none text-white" href="https://www.facebook.com/SuzukiMarineIndonesia"
                  target="_blank" class="" style="padding-top: 8px">
                  <i class="bi bi-facebook"></i>
                </a>
              </div>

              <div class="wrapper__icon p-09">
                <a class="text-decoration-none text-white" href="https://www.instagram.com/suzukimarineindonesia/"
                  target="_blank" class="" style="padding-top: 8px">
                  <i class="bi bi-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-center">
      © 2024 Suzuki Indonesia. All rights reserved.
    </div>
  </div>
</footer>