<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="w-100 d-flex justify-content-between align-items-center container-fluid">
    <img src=" ./assets/image/logo/logo-suzuki.png" alt="" width="300px">
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white h5 hover-underline" aria-current="page"
            href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white h5 hover-underline" href="./news.html">News & Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white h5 hover-underline" href="./user-manuals.html">Manuals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white h5 hover-underline" href="./contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white h5 hover-underline active" href="./help.html">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white h5 hover-underline" href="#">Login</a>
        </li>
      </ul>
    </div>
</nav>