@font-face {
  font-family: 'suzukiPRO';
  src: url('../font/SuzukiPRORegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'suzukiPRO', sans-serif;
}

.text-decoration-none {
  position: relative;
  text-decoration: none;
  color: white;
}

.text-decoration-none::before {
  content: '';
  position: absolute;
  bottom: -5px;
  /*Adjustasneeded*/left: 0;
  width: 0;
  height: 2px;
  /*Adjustthicknessasneeded*/background-color: white;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
}

/* .text-decoration-none:hover::before {
  width: 100%;
} */
.text-decoration-none.active::before,.text-decoration-none:hover::before {
        width: 100%;
    }

.hover-underline {
  display: inline-block; /* Ensures the underline only covers the text */
}



/* footer */
.fieldInput {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 42px;
  padding: 0 !important;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 35px;
  overflow: hidden;
  background-color: white;
}
.fieldInput .form-input {
  width: 230px;
  background: none;
  border: none;
  padding: 13px 20px;
  font-size: 9px;
  color: black;
  font-size: 14px;
}

input[type=text]:focus {
  outline: none;
}
.fieldInput .form-submit {
  font-size: 12px;
  color: white;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 70px;
  height: 35px;
  border-radius: 17px;
  border: none;
  background: #00368f;
  box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

/* user manual */
.select{
  outline: none;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.09);
  border: none;
}
.filterCar {
  display: block;
  margin: 20px auto;
  width: 100%;
  height: 42px;
  padding: 0 !important;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  overflow: hidden;
  background-color: white;
}
.filterCar .form-input {
  width: 100%;
  background: none;
  border: none;
  padding: 13px 20px;
  color: black;
  font-size: 14px;
}

input[type=text]:focus {
  outline: none;
}
.filterCar .form-submit {
  font-size: 12px;
  color: white;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 100px;
  height: 35px;
  border: none;
  background: #00368f;
  box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.product-list a {
  text-decoration: none;
}

.text-primary{
  color: #00368f !important;
}
.product-list .name {
  color: #00368f;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.product-list .language {
 margin: -2px;
 color: black;
}
.product-list .col-3 img, .product-list .col-6 img, .mobil img {
  max-width: 70%;
  margin: auto;
}
.manual-download{
  background: #00368f;
  color: white;
}
.manual-download:hover{
  background: #00368f;
  color: white;
}
.product-list .col-3, .product-list .col-6, .mobil {
  border: 1px solid #e9e9e9;
  padding: 30px 20px;
  text-align: center;
  cursor: pointer;
}



.bg-heading{
  background-color: white;
  background-image: url('../image/background/white.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.sub-bg-contact-us{
  background-color: #015aa8c2;
}

.bg-blue {
  background-color: #015AA8;
  border-color:#015AA8 ;
}

.bg-red {
  background-color: #ED1B24;
  border-color: #ED1B24;
}


.template_faq {
  background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 0;
  padding: 30px;
}
#accordion .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 15px 10px;
}
#accordion .panel-heading {
  border-radius: 30px;
  padding: 0;
}
#accordion .panel-title a {
  background: #ffb900 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
  background: #ffb900 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #fff;
  content: "";
  font-family: fontawesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}
#accordion .panel-title a.collapsed::after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333;
  content: "";
}
#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative;
}
#accordion .panel-body p {
  border-left: 1px dashed #8c8c8c;
  padding-left: 25px;
}

.cursor-pointer{
  cursor: pointer;
}

.hover-animate:hover{
  transform: scale(1.05);
  background-color: #015aa894;
  animation-duration: 1.5ms;
  color:white;
}

.hover-animate.active{
  transform: scale(1.05);
  background-color: #015aa894;
  animation-duration: 1.5ms;
  color:white;
}

#manual_search:focus{
  background-color: #ffff;
}

.img-hover-animate:hover{
  transform: scale(1.05);
  /* background-color: #015aa894; */
  animation-duration: 1.5ms;
  /* color:white; */
}

.floating-container {
  position: fixed;
  background-color: red;
  color: white;
  padding: 10px;
  bottom: 0;
  right: 0;
  /* margin: 20px; */
}

@media (min-width: 768px) {
  .floating-container {
    bottom: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}